@using Microsoft.AspNetCore.Mvc.Rendering

<div class="container mt-4">
    <h2>Add Slot</h2>

    <form asp-action="CreateSlot" method="post">

        <div class="mb-3">
            <label>Select Area</label>
            <select name="AreaId" class="form-control">
                <option value="">-- Select Area --</option>

                @foreach (var area in ViewBag.Areas)
                {
                    <option value="@area.AreaId">
                        @area.VehicleType (Block @area.BlockNumber)
                    </option>
                }
            </select>
        </div>

        <button class="btn btn-success">Add Slot</button>
    </form>
</div>