@model ParkingSystem.Models.ParkingArea
@using ParkingSystem.Models

<div class="container mt-4">
    <h2>Add Parking Area</h2>

    <form asp-action="CreateArea" method="post">

        <!-- Block -->
        <div class="mb-3">
            <label>Block</label>
            <input asp-for="BlockNumber" required class="form-control" placeholder="A / B / C" />
        </div>

        <!-- Vehicle Type -->
        <div class="mb-3">
            <label>Vehicle Type</label>
            <select asp-for="VehicleType" class="form-control"
                    asp-items="Html.GetEnumSelectList<VehicleType>()">
            </select>
        </div>

        <!-- Rate -->
        <div class="mb-3">
            <label>Hourly Rate</label>
            <input asp-for="HourlyRate" class="form-control" />
        </div>

        <button class="btn btn-success">Save</button>

    </form>
</div>