@model ApplicationUser

<form method="post" enctype="multipart/form-data">

    <div class="mb-2">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Profile Image</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <div class="mb-2">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" />
    </div>

    <button class="btn btn-success">Update</button>
</form>