
<div class="alert alert-success mt-4 text-center">
    Password has been reset successfully.

    <br />

    <a asp-controller="Account" asp-action="Login"
       class="btn btn-primary mt-3">
        Go to Login
    </a>
</div>