@model ParkingSystem.Models.Booking

<div class="container mt-5 text-center">

    <h2 class="text-success">Booking Confirmed ✔</h2>

    <p>Booking ID: @Model.BookingId</p>
    <p>Total Paid: ৳ @Model.TotalAmount</p>
    <p>Start: @Model.StartTime</p>
    <p>End: @Model.EndTime</p>

</div>